$General-color: Red;
$container-color:Blue;

body{
  background-color:$General-color;
  height: 100vh;
  height: 100vw;
}
.container{
   font-family: verdana;
   font-size:0.8rem;
}
.page-wrapper{
  padding:0px;
}
.featured{
  background-color: darkred;
}
.page-content{
  background-color:$container-color;
  padding:42px
}
.container{
  font-family:courier
}